
	
body{
         
	background-color: aliceblue;
 	text-align: center; 

}
		
H1{
	color: white;
	text-align: center; 

}


H4{
	text-align: center;
}

li{
	text-align: center;
}
